@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h1 {
  color: bisque;
  font-weight: 500;
}

h2 { 
  margin-bottom: 0.8em;
}

h4 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  margin-top: 30px;
}

body {
  background: url("../img/pizza-bg4.jpg") center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Special Elite', cursive;
  margin-top: 1%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(73, 53, 29);
}

#show-order {
  display: none;
}

#new-order {
  display: block;
}

.card {
  background: url("../img/paper-bg-confirm.jpg") center;
  padding: 3rem;
}

.jumbotron {
  background: url("../img/paper-bg2.jpg") center; 
  background-color: #F1DABF;
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3em;
}

.container {
  max-width: 700px;
  margin-left: 20%;
  margin-top: 0px;
}

.btn {
  margin-top: 15px;
}

.radio {
  margin: 5px 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #BC4A3C !important;
  padding: 0.4em;
}
 
#toppings-box {
  margin-top: -2em;
}

#inner-comment {
  margin-bottom: -1.5em;
}

.bi {
  width: 4em;
  height: 2em;
}

ul.ba {
  list-style-type: none;
  position: absolute;
  left: 88%;
  top: 10%;
}

li {
  margin: 10px;
  padding: 0.2em;
}

a {
  color: bisque;
}

a:hover {
  color: white !important;
  text-decoration: none;
}

.navbar {
  background-color: transparent;
  position: absolute;
  color: bisque;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
}
